<div class="container narrowIt">
    <div class="rule">
        <hr class="style-seven">
    </div>
    <div>
        © 2019 Rafael Angel Cruz
    </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="/bootstrap-4/js/bootstrap.min.js"></script>
</body>

</html>