<% include ./partials/header %>

<div class="container narrowIt">
    <div>
        <br>
        <h4>Website Home Page Image </h4>
        <br>
        <a href="https://immense-anchorage-36810.herokuapp.com/" target="_blank">
            <img src="/images/DogBreedBrowser.jpg" class="img-fluid" alt="Image of Dog Breed Browser">
        </a>
        <br><br>
        <h5>Technology Summary</h5>
        <p>This is a web site that is connected with another web site called www.dog.ceo. This Dog Ceo website exposes
            an open source API where you can connect and consume dog breeds lists and also images of all the different
            breeds of dogs. The web site basically does requests for the data exposed by the API.
            The application uses the following technologies:
        </p>
        <ol>
            <li>HTML</li>
            <li>CSS</li>
            <li>BootStrap</li>
            <li>JavaScript</li>
            <li>RESTful routing pattern</li>
            <li>Node.js – used as JavaScript runtime</li>
            <li>Express – used as the Web Framework for routing</li>
            <li>Git – used for version control</li>
            <li>Connect-Flash – used to display error messages and alerts</li>
            <li>Express Session – used with Connect-Flash</li>
        </ol>
        <h5>Instructions:</h5>
        <p>
            TO START THE MONGODB SERVER LOCALLY from command line type - /usr/local/bin/mongodb/mongod.
            To run the app use nodemon or node app.js.
        </p>
    </div>
</div>

<% include ./partials/footer %>