<% include ./partials/header %>

<div class="container narrowIt">
    <div>
        <br>
        <h4>Website Home Page Image </h4>
        <br>
        <a href="https://glacial-basin-56982.herokuapp.com/" target="_blank">
            <img src="/images/TheDogPerson.jpg" class="img-fluid" alt="Image The Dog Person">
        </a>
        <br><br>
        <h5>Technology Summary</h5>
        <p>This is a web site of a dog expert that offers his services for dog care.  Has a contact form where user enters his info and an email is send to the dog expert.
            The application uses the following technologies:
        </p>
        <ol>
            <li>HTML</li>
            <li>CSS</li>
            <li>BootStrap</li>
            <li>JavaScript</li>            
            <li>Node.js – used as JavaScript runtime</li>
            <li>Express – used as the Web Framework for routing</li>
            <li>Node Mailer – used to send emails</li>
            <li>Mailgun API – used with Node Mailer</li>
            <li>Git – used for version control</li>
            <li>Connect-Flash – used to display error messages and alerts</li>
            <li>Express Session – used with Connect-Flash</li>
        </ol>
        <h5>Instructions:</h5>
        <p>Set environment variables to be used in mail.js.  To get the correct values for these environment variables visit Mailgun.com the domain value is located in the Dashboard page.  
        </p>
        <p>
            TO START THE MONGODB SERVER LOCALLY from command line type - /usr/local/bin/mongodb/mongod.
            To run the app use nodemon or node app.js.
        </p>
    </div>
</div>

<% include ./partials/footer %>