<% include ./partials/header %>
<div class="container narrowIt">
    <!-- <h1 class="text-center">Home</h1> -->

    <h6 class="text-center">My email address is:</h6>
    <h4 class="text-center">cruzra3@gmail.com</h4>

    <p>
        This is a Portfolio Website I created to demonstrate the power of the open source technologies such as NodeJS
        and ExpressJS. I am an experienced certified Java Developer plus I just finalized a complete bootcamp course on
        NodeJS, Html, CSS, and Javascript. After I finished the course I decided to use what I just learned and create
        this Portfolio. The Portfolio includes several complete web sites that I wrote from scratch. There are links to
        basic documentation information, source code and a live demo for each web site. The web sites cover the basics
        of front end development using HTML, BootStrap, CSS and Javascript, but also there is backend logic demonstrated
        using MongoDB as database provider, and services like Cloudinary were used to store media such as images. I
        believe that using a portfolio that includes live demos and the source code (which you can inspect) is better
        than just sending you only a resume (I do have a separate resume available upon request). I am looking for a company in need of an experienced software developer that
        understand full stack web development, not only front end development but also back end. My contact information
        is at the top of this page.  For a resume please send me an email.
    </p>
</div>

<% include ./partials/footer %>