<% include ./partials/header %>

<div class="container narrowIt">
    <div>
        <br>
        <h4>Website Home Page Image </h4>
        <br>
        <a href="https://limitless-river-28538.herokuapp.com/" target="_blank">
            <img src="/images/PlacesInPR.jpg" class="img-fluid" alt="Image of PR">
        </a>
        <br><br>
        <h5>Technology Summary</h5>
        <p>This is a web site where you can upload images in the form of pictures and also comments about places the
            user has visited in the Island of Puerto Rico.
            The application uses the following technologies:
        </p>
        <ol>
            <li>HTML</li>
            <li>CSS</li>
            <li>BootStrap</li>
            <li>JavaScript</li>
            <li>RESTful routing pattern</li>
            <li>Node.js – used as JavaScript runtime</li>
            <li>Express – used as the Web Framework for routing</li>
            <li>Git – used for version control</li>
            <li>Connect-Flash – used to display error messages and alerts</li>
            <li>Express Session – used with Connect-Flash</li>
            <li>Cloudinary – used to store images in the Cloud</li>
            <li>dotenv – used to manage environment variables</li>
            <li>Moment JS – used to time stamp the images</li>
            <li>MongoDB and Mongoose – used for database support, storage and persistence</li>
            <li>Multer JS – used as part of the image storage and process</li>
            <li>Passport, Passport-local and Passport-local-mongoose – used for user authentication and
                authorization</li>
        </ol>
        <h5>Instructions:</h5>
        <p>Set environment variables. To get the correct values for these environment variables visit cloudinary.com values are located in the
            Dashboard page.
        </p>
        <p>
            TO START THE MONGODB SERVER LOCALLY from command line type - /usr/local/bin/mongodb/mongod.
            To run the app use nodemon or node app.js.
        </p>
    </div>
</div>

<% include ./partials/footer %>