<% include ./partials/header %>
<div class="container narrowIt">
    <div>
        <h1>Portfolio</h1>
        <p>Sample completed project web sites</p>
        <ul>
            <li>
                <span><strong>Places in Puerto Rico</strong></span>
                - <a href="/places/doc">Documentation</a> 
                - <a href="https://github.com/cruzra3/places-in-pr-2git" target="_blank">Source Code</a>
                - <a href="https://limitless-river-28538.herokuapp.com/" target="_blank">Live Demo</a>
            </li>
            <li>
                <span><strong>Dog Breed Browser</strong></span>
                - <a href="/browser/doc">Documentation</a>
                - <a href="https://github.com/cruzra3/dog-breed-browser-2git" target="_blank">Source Code</a>
                - <a href="https://immense-anchorage-36810.herokuapp.com/" target="_blank">Live Demo</a>
            </li>
            <li>
                <span><strong>The Dog Person</strong></span>
                - <a href="/dogPerson/doc">Documentation</a>
                - <a href="https://github.com/cruzra3/the-dog-person-2git" target="_blank">Source Code</a>
                - <a href="https://glacial-basin-56982.herokuapp.com/" target="_blank">Live Demo</a>
            </li>
        </ul>
    </div>
</div>

<% include ./partials/footer %>