<% include ./partials/header %>
<h1 class="text-center">Technical Skills</h1>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Languages:</strong>  HTML, CSS, JavaScript, JAVA, Servlets, Java Server Pages, RPG, CL, COBOL, SYNON, XML, Informatica ETL 
        </li>
        <li class="list-group-item">
            <strong>Environments/Frameworks: </strong>  NodeJS, Eclipse, Netbeans, OpenXava Framework, Struts MVC
        </li>
        <li class="list-group-item">
            <strong>Databases: </strong>  MongoDB, Oracle (11g), SQL Server, Sybase, MySQL, DB2, PostgreSQL
        </li>

        <li class="list-group-item">
            <strong>Operating Systems: </strong> Windows, UNIX, LINUX, iOS, AS/400, iSeries, OS/400
        </li>
        <li class="list-group-item">
            <strong>Tools: </strong> ICOMS, Microsoft Office, WordPress, Google Analytics, Google Webmaster Tools, Google AdWords, Jasper
            Reports Server, iReports, FTP, Log4J API, CMS, Git, GitHub
        </li>
        <li class="list-group-item">
            <strong>Java Server Pages Container: </strong>  Tomcat
        </li>
    </ul>
</div>

<% include ./partials/footer %>